nav{
    overflow:hidden;
    padding-top:10px;
    padding-bottom:10px;
    background-color:blue;
    box-shadow:0 4px 8px rgba(0,0,0,0.8);
}
a{
    padding-left:40px;
    color:white;
    text-decoration: none;
}
