<div class="container">
    <h2>Users</h2>
        <ul *ngIf="loaded && users.length > 0">
            <li *ngFor="let user of users" class="card">
                    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                    <ul id="noShadow" *ngIf="showExtended  && user.age && user.address">
                        <li><span class="emphasis">Age:</span>
                            {{user.age}}
                        </li>
                        <li class="emphasis">Address:</li>
                        <li>{{user.address.street}}</li>
                        <li>{{user.address.city}}</li>
                        <li>{{user.address.state}}</li>
                    </ul>
            </li>
        </ul>
        
        <h4 *ngIf="users?.length == 0">No users found</h4>
        
        <h4 *ngIf="!loaded">loading...</h4>
</div>
